<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Exemplo View</title>
</head>

<body>
  <h1>Nossa View EJS</h1>
  <form action="/" method="POST">
    Nome: <input type="text" name="nome">
    <button>enviar</button>
  </form>
</body>

</html>